In [395]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression

In [396]:
df_test = pd.read_csv('Test.csv',header=None)
df_train = pd.read_csv('Train.csv',header=None)

In [397]:
headers = ['Item_Identifier','Item_Weight','Item_Fat_Content','Item_Visibility','Item_Type','Item_MRP','Outlet_Identifier','Outlet_Establishment_Year','Outlet_Size','Outlet_Location_Type','Outlet_Type','Item_Outlet_Sales']

df_train.columns = headers
df_test.columns = headers[:11]

In [398]:
df_test['source'] = 'Test'
df_train['source'] = 'Train'

In [399]:
df = pd.concat([df_train,df_test], ignore_index=True)

In [400]:
df.describe()

,Item_MRP,Item_Outlet_Sales,Item_Visibility,Item_Weight,Outlet_Establishment_Year
count,14204.000000,8523.000000,14204.000000,11765.000000,14204.000000
mean,141.004977,2181.288914,0.065953,12.792854,1997.830681
std,62.086938,1706.499616,0.051459,4.652502,8.371664
min,31.290000,33.290000,0.000000,4.555000,1985.000000
25%,94.012000,834.247400,0.027036,8.710000,1987.000000
50%,142.247000,1794.331000,0.054021,12.600000,1999.000000
75%,185.855600,3101.296400,0.094037,16.750000,2004.000000
max,266.888400,13086.964800,0.328391,21.350000,2009.000000

In [401]:
df.dtypes

Item_Fat_Content              object
Item_Identifier               object
Item_MRP                     float64
Item_Outlet_Sales            float64
Item_Type                     object
Item_Visibility              float64
Item_Weight                  float64
Outlet_Establishment_Year      int64
Outlet_Identifier             object
Outlet_Location_Type          object
Outlet_Size                   object
Outlet_Type                   object
source                        object
dtype: object

In [402]:
df.isna().sum(axis=0)

Item_Fat_Content                0
Item_Identifier                 0
Item_MRP                        0
Item_Outlet_Sales            5681
Item_Type                       0
Item_Visibility                 0
Item_Weight                  2439
Outlet_Establishment_Year       0
Outlet_Identifier               0
Outlet_Location_Type            0
Outlet_Size                  4016
Outlet_Type                     0
source                          0
dtype: int64

In [403]:
df.tail(20)

,Item_Fat_Content,Item_Identifier,Item_MRP,Item_Outlet_Sales,Item_Type,Item_Visibility,Item_Weight,Outlet_Establishment_Year,Outlet_Identifier,Outlet_Location_Type,Outlet_Size,Outlet_Type,source
14184,Low Fat,DRG37,155.7972,NaN,Soft Drinks,0.000000,NaN,1985,OUT027,Tier 3,Medium,Supermarket Type3,Test
14185,Low Fat,FDK22,214.3850,NaN,Snack Foods,0.026234,9.800,2007,OUT017,Tier 2,NaN,Supermarket Type1,Test
14186,Low Fat,DRH36,72.8696,NaN,Soft Drinks,0.033516,16.200,2009,OUT018,Tier 3,Medium,Supermarket Type2,Test
14187,Regular,DRC36,173.4054,NaN,Soft Drinks,0.045168,13.000,2009,OUT018,Tier 3,Medium,Supermarket Type2,Test
14188,Low Fat,DRE03,46.0718,NaN,Dairy,0.024110,NaN,1985,OUT027,Tier 3,Medium,Supermarket Type3,Test
14189,Regular,FDF34,196.9084,NaN,Snack Foods,0.014019,9.300,1997,OUT046,Tier 1,Small,Supermarket Type1,Test
14190,Low Fat,FDZ22,82.1250,NaN,Snack Foods,0.045270,9.395,1997,OUT046,Tier 1,Small,Supermarket Type1,Test
14191,Low Fat,FDC44,115.1518,NaN,Fruits and Vegetables,0.288892,15.600,1998,OUT010,Tier 3,NaN,Grocery Store,Test
14192,Low Fat,FDN31,188.0530,NaN,Fruits and Vegetables,0.072529,NaN,1985,OUT027,Tier 3,Medium,Supermarket Type3,Test
14193,Regular,FDO03,229.4352,NaN,Meat,0.037092,10.395,2007,OUT017,Tier 2,NaN,Supermarket Type1,Test
14194,reg,FDA01,59.5904,NaN,Canned,0.054463,15.000,1999,OUT049,Tier 1,Medium,Supermarket Type1,Test
14195,Low Fat,NCH42,231.1010,NaN,Household,0.036594,6.860,1999,OUT049,Tier 1,Medium,Supermarket Type1,Test
14196,Low Fat,FDF46,116.0834,NaN,Snack Foods,0.094053,7.070,2009,OUT018,Tier 3,Medium,Supermarket Type2,Test
14197,Low Fat,DRL35,43.2770,NaN,Hard Drinks,0.030704,15.700,1997,OUT046,Tier 1,Small,Supermarket Type1,Test
14198,Regular,FDW46,63.4484,NaN,Snack Foods,0.070411,13.000,1999,OUT049,Tier 1,Medium,Supermarket Type1,Test
14199,Regular,FDB58,141.3154,NaN,Snack Foods,0.013496,10.500,1997,OUT046,Tier 1,Small,Supermarket Type1,Test
14200,Regular,FDD47,169.1448,NaN,Starchy Foods,0.142991,7.600,2009,OUT018,Tier 3,Medium,Supermarket Type2,Test
14201,Low Fat,NCO17,118.7440,NaN,Health and Hygiene,0.073529,10.000,2002,OUT045,Tier 2,NaN,Supermarket Type1,Test
14202,Regular,FDJ26,214.6218,NaN,Canned,0.000000,15.300,2007,OUT017,Tier 2,NaN,Supermarket Type1,Test
14203,Regular,FDU37,79.7960,NaN,Canned,0.104720,9.500,2002,OUT045,Tier 2,NaN,Supermarket Type1,Test

In [404]:
df['Item_Weight'].fillna(df['Item_Weight'].mean(),inplace=True)
df['Outlet_Size'].fillna(df['Outlet_Size'].mode()[0],inplace=True)
df['Item_Visibility'].replace(0, df['Item_Visibility'].mean(),inplace=True)

In [405]:
df['Item_Fat_Content'].replace('reg','Regular',inplace=True)
df['Item_Fat_Content'].replace('low fat','Low Fat',inplace=True)
df['Item_Fat_Content'].replace('LF','Low Fat',inplace=True)

In [406]:
df.isna().sum(axis=0)

Item_Fat_Content                0
Item_Identifier                 0
Item_MRP                        0
Item_Outlet_Sales            5681
Item_Type                       0
Item_Visibility                 0
Item_Weight                     0
Outlet_Establishment_Year       0
Outlet_Identifier               0
Outlet_Location_Type            0
Outlet_Size                     0
Outlet_Type                     0
source                          0
dtype: int64

In [407]:
df.drop(['Item_Identifier','Outlet_Identifier'],inplace=True, axis=1)

In [408]:
dummies = ['Item_Fat_Content','Item_Type','Outlet_Location_Type','Outlet_Size','Outlet_Type']

df = pd.get_dummies(df,columns=dummies)

In [409]:
Train = df.loc[df['source']=='Train']
Test = df.loc[df['source']=='Test']

In [410]:
Train = Train.drop(['source'],axis=1)
Test = Test.drop(['source'],axis=1)

In [411]:
Train.head(10)

,Item_MRP,Item_Outlet_Sales,Item_Visibility,Item_Weight,Outlet_Establishment_Year,Item_Fat_Content_Low Fat,Item_Fat_Content_Regular,Item_Type_Baking Goods,Item_Type_Breads,Item_Type_Breakfast,...,Outlet_Location_Type_Tier 1,Outlet_Location_Type_Tier 2,Outlet_Location_Type_Tier 3,Outlet_Size_High,Outlet_Size_Medium,Outlet_Size_Small,Outlet_Type_Grocery Store,Outlet_Type_Supermarket Type1,Outlet_Type_Supermarket Type2,Outlet_Type_Supermarket Type3
0,249.8092,3735.1380,0.016047,9.300000,1999,1,0,0,0,0,...,1,0,0,0,1,0,0,1,0,0
1,48.2692,443.4228,0.019278,5.920000,2009,0,1,0,0,0,...,0,0,1,0,1,0,0,0,1,0
2,141.6180,2097.2700,0.016760,17.500000,1999,1,0,0,0,0,...,1,0,0,0,1,0,0,1,0,0
3,182.0950,732.3800,0.065953,19.200000,1998,0,1,0,0,0,...,0,0,1,0,1,0,1,0,0,0
4,53.8614,994.7052,0.065953,8.930000,1987,1,0,0,0,0,...,0,0,1,1,0,0,0,1,0,0
5,51.4008,556.6088,0.065953,10.395000,2009,0,1,1,0,0,...,0,0,1,0,1,0,0,0,1,0
6,57.6588,343.5528,0.012741,13.650000,1987,0,1,0,0,0,...,0,0,1,1,0,0,0,1,0,0
7,107.7622,4022.7636,0.127470,12.792854,1985,1,0,0,0,0,...,0,0,1,0,1,0,0,0,0,1
8,96.9726,1076.5986,0.016687,16.200000,2002,0,1,0,0,0,...,0,1,0,0,1,0,0,1,0,0
9,187.8214,4710.5350,0.094450,19.200000,2007,0,1,0,0,0,...,0,1,0,0,1,0,0,1,0,0

In [412]:
x_train = Train.drop(['Item_Outlet_Sales'],axis=1)
x_test = Test.drop(['Item_Outlet_Sales'],axis=1)
y_train = Train['Item_Outlet_Sales']

model = LinearRegression()
model.fit(x_train, y_train)
y_predict = model.predict(x_test)

In [413]:
y_predict

array([1788.1905265 , 1567.18268497, 1881.30109092, ..., 1834.84817996,
       3605.65110322, 1298.33046836])